<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Temperature converter</title>
</head>
<body>
{% if result %}
    <div style="width: 100%; height: 15vh; border: 2px solid black; display: flex; align-items: center; justify-content: center; font-size: 30px; margin-bottom: 30px;">
        <em>{{ result.from|raw }}</em> to <strong>{{ result.to|raw }}</strong>
    </div>
{% endif %}
<form method="post">
    Zamień:
    <input type="text" inputmode="decimal" name="convert_from__value">
    <select name="convert_from__unit">
        {% for unit, printable in constant('SimpleConverter\\Temperature\\Model\\Unit::UNITS') %}
            <option value="{{ unit }}">{{ printable|raw }}</option>
        {% endfor %}
    </select>
    <br/>
    na:
    <select name="convert_to__unit">
        {% for unit, printable in constant('SimpleConverter\\Temperature\\Model\\Unit::UNITS') %}
            <option value="{{ unit }}">{{ printable|raw }}</option>
        {% endfor %}
    </select>
    <br/>
    <button type="submit">Zamień</button>
</form>
</body>
</html>
